### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load,encoding='utf-8')

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
count = purchase_data_df["SN"].value_counts()
count

Lisosia93       5
Idastidru52     4
Iral74          4
Tyisur83        3
Lisopela58      3
               ..
Iathenudil29    1
Lisassasda39    1
Farrian71       1
Rithe53         1
Filurarn35      1
Name: SN, Length: 576, dtype: int64

In [3]:
# Calculate the total players count
Total_players = len(purchase_data_df["SN"].unique())

# Create a Dataframe with Total_players count
Total_players_count = pd.DataFrame({"Total Players":Total_players}, index = [0])
Total_players_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Calculations to obtain number of unique items
unique_items = len(purchase_data_df["Item ID"].unique())
# Calculate the Average price
Average_price = purchase_data_df["Price"].mean()
# Number of purchases
Number_purchases = purchase_data_df["Purchase ID"].count()
# Total revenue
Total_revenue = purchase_data_df["Price"].sum()

# Summary data frame with above results and clean formatting
Purchasing_Analysis = pd.DataFrame({"Number of Unique Items":unique_items,"Average Price":Average_price,
                                    "Number of Purchases":Number_purchases,"Total Revenue":Total_revenue}, index =[0])
Purchasing_Analysis["Average Price"]= Purchasing_Analysis["Average Price"].map("${:.2f}".format)
Purchasing_Analysis["Total Revenue"]= Purchasing_Analysis["Total Revenue"].map("${:.2f}".format)

Purchasing_Analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# Percentage and Count of Male Players, Female Players, Other / Non-Disclosed
SN_df = purchase_data_df[["SN","Gender","Age"]]
SN_gender_df = SN_df.drop_duplicates (["SN"])
gender_count = SN_gender_df["Gender"].value_counts()
percentage_of_gender = gender_count/Total_players
percentage_of_gender
gender_demographic_df = pd.DataFrame({"Total Count":gender_count,
                                     "Percentage of Players":percentage_of_gender})
gender_demographic_df["Percentage of Players"] = gender_demographic_df["Percentage of Players"].map("{:,.2%}".format)

gender_demographic_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# Calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
#Grouping by Gender
grouped_gender_df = purchase_data_df.groupby (['Gender'])
grouped_gender_df.count().head()

#Purchase Count
purchase_count = grouped_gender_df["SN"].count()

#Average Purchase Price
average_purchase_price = grouped_gender_df["Price"].mean()

#Total Purchase Value
total_purchase_price = grouped_gender_df["Price"].sum()

#Avg Total Purchase per Person
Avg_Total_Purchase_per_Person= total_purchase_price / gender_count

#Create new dataframe using both calculations
purchasing_analysis_gender = pd.DataFrame({"Purchase Count":purchase_count,
                                           "Average Purchase Price":average_purchase_price,
                                           "Total Purchase Value":total_purchase_price,
                                           "Avg Total Purchase per Person":Avg_Total_Purchase_per_Person})

purchasing_analysis_gender_summary = purchasing_analysis_gender[["Purchase Count",
                                                                 "Average Purchase Price",
                                                                 "Total Purchase Value",
                                                                 "Avg Total Purchase per Person"]]

# Use Map to format all the columns
purchasing_analysis_gender_summary["Average Purchase Price"] = purchasing_analysis_gender_summary["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_gender_summary["Total Purchase Value"] = purchasing_analysis_gender_summary["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_gender_summary["Avg Total Purchase per Person"] = purchasing_analysis_gender_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)


purchasing_analysis_gender_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# Age Demographics
# Create the bins
bins = [0,9,14,19,24,29,34,39,100]
age_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
SN_gender_df["Demographics"] = pd.cut(SN_gender_df["Age"],bins,labels=age_group)

#Percentage and Count of Demographics
age_group_count = SN_gender_df ["Demographics"].value_counts()
percentage_of_age_group = age_group_count/Total_players

#Create new dataframe using both calculations
age_demographic_df = pd.DataFrame({"Total Count":age_group_count,
                                   "Percentage of Players":percentage_of_age_group})

# Use Map to format all the columns
age_demographic_df["Percentage of Players"] = age_demographic_df["Percentage of Players"].map("{:,.2%}".format)
age_demographic_df.sort_index(inplace=True)
age_demographic_df

/opt/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# Age Demographics
# Below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.) 
bins = [0,9,14,19,24,29,34,39,100]
age_group = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
purchase_data_df["Demographics"] = pd.cut(purchase_data_df["Age"],bins,labels=age_group)

#grouping by Demographic
grouped_demographic_df = purchase_data_df.groupby(['Demographics'])

#Purchase Count
age_purchase_count = grouped_demographic_df["SN"].count()

#Average Purchase Price
age_average_purchase_price = grouped_demographic_df["Price"].mean()

#Total Purchase Value
age_total_purchase_price = grouped_demographic_df["Price"].sum()

#Avg Total purchase per Person
Purchase_per_Person_avgTotal = age_total_purchase_price / age_group_count

#Create new dataframe using both calculations
purchasing_analysis_demographic_summary = pd.DataFrame({"Purchase Count":age_purchase_count,
                                                        "Average Purchase Price":age_average_purchase_price,
                                                        "Total Purchase Value":age_total_purchase_price,
                                                        "Avg Total Purchase per Person":Purchase_per_Person_avgTotal})

purchasing_analysis_demographic_summary = purchasing_analysis_demographic_summary[["Purchase Count",
                                                                           "Average Purchase Price",
                                                                           "Total Purchase Value",
                                                                           "Avg Total Purchase per Person"]]
# Use Map to format all the columns
purchasing_analysis_demographic_summary["Average Purchase Price"] = purchasing_analysis_demographic_summary["Average Purchase Price"].map("${:,.2f}".format)
purchasing_analysis_demographic_summary["Total Purchase Value"] = purchasing_analysis_demographic_summary["Total Purchase Value"].map("${:,.2f}".format)
purchasing_analysis_demographic_summary["Avg Total Purchase per Person"] = purchasing_analysis_demographic_summary["Avg Total Purchase per Person"].map("${:,.2f}".format)

purchasing_analysis_demographic_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# Top Spender

# Identify the the top 5 spenders in the game by total purchase value, then list in a table
grouped_SN_df = purchase_data_df.groupby (['SN'])

# Total Purchase Value
SN_total_purchase_price= grouped_SN_df["Price"].sum()
# Purchase Count
SN_purchase_count = grouped_SN_df["SN"].count()
# Average Purchase Price
SN_average_purchase = grouped_SN_df["Price"].mean()
# Create new dataframe 
SN_table = pd.DataFrame({"Total Purchase Value":SN_total_purchase_price,
                         "Average Purchase Price":SN_average_purchase,
                         "Purchase Count":SN_purchase_count})

SN_summary = pd.DataFrame(SN_table.nlargest(5,'Total Purchase Value'))
SN_top5 = SN_summary[["Purchase Count","Average Purchase Price","Total Purchase Value"]]

# Use Map to format all the columns
SN_top5 ["Average Purchase Price"] = SN_top5 ["Average Purchase Price"].map("${:,.2f}".format)
SN_top5 ["Total Purchase Value"] = SN_top5 ["Total Purchase Value"].map("${:,.2f}".format)

SN_top5

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [12]:
# Five most popular items
# Identify the five most popular items by purchase count and then list in a table
# Item ID, Item Name, and Item Price 
grouped_item_df = purchase_data_df.groupby (['Item ID','Item Name'])

# Price
item_price = grouped_item_df["Price"].sum()/grouped_item_df["Item ID"].count()

# Purchase Count
item_purchase_count = grouped_item_df["Item ID"].count()

# Total Purchase value
price_sum = grouped_item_df["Price"].sum()

item_table = pd.DataFrame({"Purchase Count":item_purchase_count,
                           "Total Purchase Value":price_sum,
                           "Item Price":item_price})

item_summary = pd.DataFrame(item_table.nlargest(5,'Purchase Count'))

item_top5 = item_summary[["Purchase Count","Item Price","Total Purchase Value"]]

# Map to format all columns
item_top5["Total Purchase Value"]= item_top5 ["Total Purchase Value"].map("${:,.2f}".format)

item_top5 ["Item Price"] = item_top5 ["Item Price"].map("${:,.2f}".format)

item_top5

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80